*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(./background.jpg); */
    background-color: black;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* cursor:url(./eye-cursor-white.png), auto;  */
}
.eyes{
    position: absolute;
    top: 37%;
    transform: translateY(-46%);
    width: 100%;
    text-align: center;
}
.eye{
    width: 60px;
    height: 38px;
    display: inline-block;
    margin: 20px;
    border-radius: 50%;
    background-color: rgba(92, 71, 141, 0.241);
    position: relative;
    /* overflow: hidden; */
    border: 1px solid rgba(0, 0, 0, 0.049);
}

.eye-ball{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.144);
    position: absolute;
    top: 20%;
    left:30%;
    transform: translate(50%, 50%);
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(242, 255, 0, 0.637);
}
#robot{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -100;
    transform: translateX(-50%);
}
#astronaut{
    /* position: absolute;
    bottom: 0;
    left: 50%; */
    z-index: -1000;
    /* transform: translateX(-50%); */
    width: 100vw;
    height: 100vh;
    border-top: 40px solid rgba(0, 0, 0, 0.857);
    border-bottom: 40px solid rgba(0, 0, 0, 0.857);
    border-left: 60px solid rgba(255, 103, 169, 0.323);
    border-right: 60px solid rgba(255, 103, 169, 0.323);
}

